@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap');

body {
    margin: 0;
    background-color: #1C1C1C;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    margin: 10% auto;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    width: 354px;
    height: 80px;
    margin: 115px 144px 10px 52px;

    color: #FFFFFF;
}

span {
    color: #4ADF86;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-left: 52px;
    margin-top: 0;
    margin-bottom: 51px;
}

button {
    margin-top: none;
    margin-left: 52px;
    margin-bottom: 35px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    width: 191px;
    height: 42px;
    border: none;
    
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.line {
    margin-top: 35px;
    margin: 35px auto;
    margin-bottom: 0;
    border-top: 1px solid #2F3E53;
    width: 446px;
}

.outputs {
    display: flex;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle {
    margin-top: none;
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    margin-right: 12px;
    margin-left: 12px;
}

.rectangle p {
    text-align: center;
    margin: 4px auto;
    width: 180px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;

    color: #55F991; 
}