* {
    font-family: sans-serif;
}

.container {

    margin: 15% auto auto auto;
    justify-content: center;
    justify-self: center;
    display: flex;
    width: 500px;
    background-color: rgb(210, 169, 139);
    padding-right: 20px;
    border-bottom: 8px solid rgb(75, 95, 151);
}

img {
    flex-direction: row;
    align-items: flex-start;
    width: 250px;
    padding: 20px;
}

.info {
    margin-top: 15%;
    flex-direction: column;
    text-align: center;
}