@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #1C1C1C;
    text-align: center;
}

/* main */

.main {
    background: #6943FF;
    width: 550px;
    height: 285px;
    margin: auto;
}

.heading {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.03em;
    padding-top: 33px;
}

input {
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 117px;
    height: 83px;
    background-color: transparent;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#convert-btn {
    display: block;
    margin: 25px auto 34px auto;
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
}

/* outputs */


.outputs {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 444px;
    background-color: #1F2937;
}

.output-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    color: #CCC1FF;
}

.output {
    margin-top: 36px;
    width: 500px;
    height: 108.57px;
    background-color: #273549;
    border-radius: 4.68077px 0px 0px 0px;
}